.about-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.about-content {
    opacity: 0.6;
    font-weight: bold;
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    width: 100%;
}